<!doctype html>
<html lang="en">

<head>
    {% block head %}
    <title>{% block title %} {% endblock %}</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style1.css')}}"-->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    {% block csslink %} {% endblock %}
    {% endblock %}
</head>

<body>
    {% block  body %}
    {% block content %} {% endblock %}
    <hr>
    <h3 class=" text-center">用户信息表</h3>
    <div class="divLayout">
        <table class="table table-light table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>名称</th>
                    <th>年龄</th>
                </tr>
            </thead>
            <tbody id="tb">
                {% for user in users %}
                <tr>
                    <td>{{user['name']}}</td>
                    <td>{{user['age']}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% block script %} {% endblock %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    {% endblock %}
</body>

</html>