{% extends "base.html" %}

{% block title %} flaskRestApi {% endblock %}
{% block csslink %}
<!-- <link rel="stylesheet" type="text/css" href="/static/style1.css"> -->
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename = 'style1.css',_external=True)}}">
{% endblock %}
{% block head %}
    {{super()}}
{% endblock %}

{% block content %}
<h1 class=" text-center"> 欢迎使用flaskRestApi App！</h1>
<form method="post" action="add" class="divLayout" id="uform">
    <div class="form-group">
        <label for="name">用户姓名</label>
        <input id="name" class="form-control" type="text">
    </div>  
    <div class="form-group">
        <label for="age">用户年龄</label>
        <input id="age" class="form-control" type="number">
    </div>
    <button class="btn btn-primary" type="button" id="load">加载</button>
    <button class="btn btn-primary"  type="submit" id="add">添加</button>
    <button class="btn btn-primary" type="button" id="update" >更新</button>
    <button class="btn btn-primary" type="button" id="del" >删除</button>

</form>
{% endblock %}

{% block script %}
    <script>
        var bts = document.getElementsByTagName('button');
        bts.concat(document.getElementsByTagName('submit'));
        for (let i = 0; i < bts.length; i++) {
            bts[i].onclick = handleButtonPress            
        }

        function  handleButtonPress(e) {
            var req = new XMLHttpRequest();
            req.onreadystatechange = hResp;
            if(e.target.id == 'load'){
                req.open("GET",'/users');
                req.send();
            }
            else if(e.target.id == 'add'){
                var form = document.getElementById('uform');
                
                req.open("POST",form.action);
                req.setRequestHeader('Content-Type','application/json')
                req.send(JSON.stringify(new FormData(form)));
            }
        }

        function hResp(e) {
            if(e.target.readyState == XMLHttpRequest.DONE && e.target.status == 200){
                var data = JSON.parse(e.target.responseText);
                data.forEach(user => {
                    var tb = "<tr><td>" + user.name + "</td><td>" + user.age + "</td></tr>";
                    document.getElementById("tb").innerHTML += tb; 
                });
            }
            
        }
    </script>
{% endblock %}
{% block body %}
    {{super()}}
{% endblock %}
